.film {
    margin-left: 10px;
  
    h2 {
      padding: 20px;
    }
  
    .film-gallery {
      display: flex;
      flex-direction: row;
      
  
      img {
        width: 400px;
        padding: 5px;
      }
    }
  }